<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees management system</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Employee management system</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Employee management</a>
            </li>
        </ul>
    </div>
</nav>


    <div class="container">
        <div class="row">
            <h1>List of employess </h1>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/employees/add_new_employee}" class="btn btn-primary btn-sm mb-3"> Add new employee </a>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <th>Employee firstname</th>
                <th>Employee lastname</th>
                <th>Employee email</th>
                <th>Action</th>
            </thead>

            <tbody>
                <tr th:each = "employee: ${employees}">
                    <td th:text="${employee.firstname}"></td>
                    <td th:text="${employee.lastname}"></td>
                    <td th:text="${employee.email}"></td>
                    <td>
                        <a th:href="@{/employees/edit/{id}(id = ${employee.id})}"
                        class="btn btn-primary">Edit</a>

                        <a th:href="@{/employees/{id}(id = ${employee.id})}"
                        class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</body>
</html>